img{
    margin: 3%;
    align-items: center;
    align-self: center;
}

.card{
    background-color: #333;
    color: white;
}

.hidden{
    display: none !important;
}

header{
    padding-top: 3%;
}

.nav-link.btn.btn-primary{
    background-color: #134A7F;
}

body.bg-dark{
    background-color: #222 !important;
    color: white;
}

body.bg-dark td, th{
    background-color: #3b3b3b !important;
    color: #eaeaea !important; 
}

#listAppr{
    max-height: 400px;
    overflow-x: auto;
}

#map { 
    height: 60vh;
    width: 60vw;
}

.table-container{
    max-height: 60vh;  
    overflow-y: auto;
}

.row.custom-gap{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

#listAppr thead th{
    position: sticky !important;
    top: 0;
    z-index: 2;  
    background-color: #222;
}

header.bg-dark{
    background-color: rgb(7, 7, 92) !important;
    color:white;
}

header .nav-link{
    color: white !important;
}

.custom-main-inf .border {
    background-color: beige;
    border-radius: 4px;
    border: 1px solid #134A7F !important;
}

.bg-dark .custom-main-inf .border {
    color:#222;
}

header.bg-dark nav>div img{
    filter: invert(1);
}